body{
  background-color: #FCFAF9 !important;
}
.head{
  background-color: #2DB697;
}
.headVdo{
  font-size: 30px;
  color: #000;
  margin-top: 130px;
}
.appointText{
  font-size: 32px;
  color: #000;
}
.hospitalName{
  color: #000;
  font-size: 28px;
}
.detailH{
  color: #000;
  font-size: 22px;
  font-weight: 100;
}
.meet{
  margin-top: 50px !important;
  width: 100%;
  height: 476px;
  background-color: white;
  border: solid 2px #076851;
  border-radius: 10px;
  padding: 20px;
}
.appointBtn{
  width: 190px;
  height: 48px;
  color: #fff;
  background-color: #2DB697;
  border: solid 3px #2DB697;
  border-radius: 7px;
  transition: 0.5s;
}
.appointBtn:hover{
  background-color: #076851;
  border: solid 3px #076851;
  transition: 0.5s;
}
.appointCancelBtn{
  width: 190px;
  height: 48px;
  color: #2DB697;
  background-color: #fff;
  border: solid 3px #2DB697;
  border-radius: 7px;
  transition: 0.5s;

}
.appointCancelBtn:hover{
  color: #fff;
  background-color: #076851;
  border: solid 3px #076851;
  transition: 0.5s;
}
.historyH{
  font-size: 32px;
  color: #696969 !important;
}
.historyDetail{
  height: auto;
  width: 600px !important;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 4px #696969);
  background-color: #fff;
  opacity: 40;
}
.bookingBtn{
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 25px;
  background-color: #2DB697;
  color: white;
  border-radius: 10px;
  border: none;
  transition: 0.5s;

}
.bookingBtn:hover{
  background-color: #076851;
  transition: 0.5s;
}
.bookingBtn a {
  text-decoration: none;
  color: white;
}
.btn{
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  --bs-btn-border-width: 3px !important;
}
.btn-outline-primary{
  --bs-btn-color: #696969 !important;
  --bs-btn-hover-color: #696969 !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-bg: #fff !important;
  --bs-btn-bg: #fff !important;
  --bs-btn-hover-border-color: #516AE9 !important;
  --bs-btn-active-border-color: #516AE9 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-color: #000 !important;
}
.dropdown-menu{
  --bs-dropdown-link-active-bg: #516AE9 !important;
  cursor: pointer !important;
}
.dropdownButton{
  text-align: start !important;
  color: #000 !important;
}
.preBt{
  width: 491px;
  height: 60px;
  border: solid 3px #2DB697;
  border-radius: 10px;
  font-size: 24px;
  background-color: #fff;
  color: #2DB697;
  transition: 0.5s;
}
.preBt a{
  /* color: #030C4A; */
  text-decoration: none;
}
.preBt:hover,
.nextBt:hover {
  background-color: #076851;
  color: #fff;
  border: #076851;
  transition: 0.5s;
}
.nextBt{
  width: 491px;
  height: 60px;
  border: solid 3px #2DB697;
  border-radius: 10px;
  font-size: 24px;
  background-color: #2DB697;
  float: right;
  color: #fff;
  transition: 0.5s;
}
.nextBt a{
  /* color: #030C4A; */
  text-decoration: none;
}

/* optionpet */
.select-menuP{
  width: 100%;
  cursor: pointer;
  position: relative;
  color: #030C4A;
}
.selectP{
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  background: #fff;
  border: solid 3px #E4623C;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #030C4A;
}
/* .select-menuP span{
  font-size: 25px;
} */
.select-menuP i{
  float: right;
  font-size: 30px;
  color: #030C4A;
}
.optionP-list{
  /* position: absolute; */
  width: 100%;
  background-color: #fff;
  border: solid 3px #E4623C;
  border-radius: 0 0 10px 10px;
  transition: .3s linear .1s;
  overflow-y: auto;
  height: 0;
  /* z-index: 1; */
}
.optionP{
  padding: 15px 10px 15px 10px;
  font-size: 25px;
  transition: .3s ease-in-out;
}
.optionP:hover{
  background-color: #FFF4CF;
}
.optionP-list.active{
  height: 200px;
}

/* optionpayment */
.select-menuPm{
  width: 100%;
  cursor: pointer;
  position: relative;
  color: #030C4A;
}
.selectPm{
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  background: #fff;
  border: solid 3px #E4623C;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #030C4A;
}
/* .select-menuPm span{
  font-size: 25px;
} */
.select-menuPm i{
  float: right;
  font-size: 30px;
  color: #030C4A;
}
.optionPm-list{
  /* position: absolute; */
  width: 100%;
  background-color: #fff;
  border: solid 3px #E4623C;
  border-radius: 0 0 10px 10px;
  transition: .3s linear .1s;
  overflow-y: auto;
  height: 0;
  /* z-index: 1; */
}
.optionPm{
  padding: 15px 10px 15px 10px;
  /* font-size: 25px; */
  transition: .3s ease-in-out;
}
.optionPm:hover{
  background-color: #FFF4CF;
}
.optionPm-list.active{
  height: 200px;
}
.detailT{
  color: #030C4A;
  font-size: 25px;
}
.totalT{
  color: #030C4A;
  font-size: 30px;
}
.appointDateTime{
  font-size: 28px;
}
.appointTime{
  font-size: 24px;
}
.period{
  font-size: 22px;
  font-weight: bold;
}
.timeBtn{
  width: 149px;
  height: 40px;
  border: solid 2px #E4623C;
  border-radius: 10px;
  font-size: 18px;
}
.timeBtn:hover{
  background-color: #fff;
}

@media (max-width: 800px) {
  .headVdo{
    font-size: 20px;
  }
  .appointText{
    font-size: 18px;
  }
  .hospitalName{
    font-size: 15px;
    padding-top: 15px;
  }
  .detailH{
    font-size: 12px;
    padding-top: 10px;
  }
  .fa-caret-down{
    font-size: 15px !important;
  }
  .meetBtn{
    width: 125px;
    height: 27px;
    font-size: 12px;
    border-radius: 5px;
  }
  .preBt,
  .nextBt {
    width: 125px;
    height: 32px;
    border-radius: 5px;
    font-size: 12px;
  }
  .bookingBtn{
    width: 155px;
    height: 39px;
    padding: 0;
  }
  .bookingBtn a{
    font-size: 15px;
  }
  .option-list.active{
    height: 200px;
  }
  .optionP-list.active{
    height: 150px;
  }
  .appointTime{
    margin-top: 30px;
    font-size: 15px;
  }
  .period{
    font-size: 12px;
  }
  .appointDateTime{
    font-size: 15px;
  }
  .timeBtn{
    width: 87px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
  }
  .optionPm-list{
    height: 0;
  }
  .optionPm-list.active{
    height: 150px;
  }
}